/**handles:elementor-post-1806**/
.elementor-1806
  .elementor-element.elementor-element-613250f
  > .elementor-container {
  max-width: 600px;
}
.elementor-bc-flex-widget
  .elementor-1806
  .elementor-element.elementor-element-6ba84a32.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1806
  .elementor-element.elementor-element-6ba84a32.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1806
  .elementor-element.elementor-element-6ba84a32.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-1806
  .elementor-element.elementor-element-6ba84a32
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 20px;
}
.elementor-1806
  .elementor-element.elementor-element-6ba84a32
  > .elementor-element-populated {
  padding: 51px 51px 51px 51px;
}
.elementor-1806
  .elementor-element.elementor-element-687f3fa
  .elementor-spacer-inner {
  --spacer-size: 50px;
}
.elementor-1806
  .elementor-element.elementor-element-5cd5ba5d
  .elementor-heading-title {
  font-family: Poppins, Sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 55px;
}
.elementor-1806 .elementor-element.elementor-element-1e1e9725 {
  color: #ffffffb2;
  font-family: Poppins, Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.elementor-1806 .elementor-element.elementor-element-c15842d .elementor-button {
  font-family: Poppins, Sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #2e3438;
  border-radius: 15px 15px 15px 15px;
}
.elementor-1806
  .elementor-element.elementor-element-c15842d
  .elementor-button:focus,
.elementor-1806
  .elementor-element.elementor-element-c15842d
  .elementor-button:hover {
  background-color: var(--e-global-color-cafc30f);
}
.elementor-1806 .elementor-element.elementor-element-1acd5f0d {
  --divider-border-style: solid;
  --divider-color: #3f3f3f;
  --divider-border-width: 2.3px;
}
.elementor-1806
  .elementor-element.elementor-element-1acd5f0d
  .elementor-divider-separator {
  width: 100%;
}
.elementor-1806
  .elementor-element.elementor-element-1acd5f0d
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .elementor-1806 .elementor-element.elementor-element-613250f {
    padding: 0;
  }
  .elementor-1806
    .elementor-element.elementor-element-6ba84a32
    > .elementor-element-populated {
    padding: 10px 0 10px 0;
  }
  .elementor-1806
    .elementor-element.elementor-element-687f3fa
    .elementor-spacer-inner {
    --spacer-size: 10px;
  }
  .elementor-1806 .elementor-element.elementor-element-5cd5ba5d {
    text-align: center;
  }
  .elementor-1806
    .elementor-element.elementor-element-5cd5ba5d
    .elementor-heading-title {
    font-size: 28px;
    line-height: 30px;
  }
  .elementor-1806 .elementor-element.elementor-element-1e1e9725 {
    text-align: center;
    font-size: 16px;
  }
  .elementor-1806
    .elementor-element.elementor-element-c15842d
    .elementor-button {
    font-size: 16px;
  }
}
