/**handles:elementor-post-1964**/
.elementor-1964
  .elementor-element.elementor-element-e9d4a68
  > .elementor-container {
  max-width: 1300px;
  min-height: 70px;
}
.elementor-1964
  .elementor-element.elementor-element-e9d4a68:not(.elementor-motion-effects-element-type-background),
.elementor-1964
  .elementor-element.elementor-element-e9d4a68
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0a0a0a;
}
.elementor-1964 .elementor-element.elementor-element-e9d4a68 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1964
  .elementor-element.elementor-element-e9d4a68
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1964 .elementor-element.elementor-element-dcaec10 {
  z-index: 1000;
}
.elementor-bc-flex-widget
  .elementor-1964
  .elementor-element.elementor-element-a204c79.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1964
  .elementor-element.elementor-element-a204c79.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1964 .elementor-element.elementor-element-6cfce02 {
  text-align: left;
}
.elementor-bc-flex-widget
  .elementor-1964
  .elementor-element.elementor-element-9df188a.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1964
  .elementor-element.elementor-element-9df188a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1964 .elementor-element.elementor-element-9df188a {
  z-index: 199;
}
.elementor-1964
  .elementor-element.elementor-element-da7bf85
  .elementor-menu-toggle {
  margin: 0 auto;
}
.elementor-1964
  .elementor-element.elementor-element-da7bf85
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-1964
  .elementor-element.elementor-element-da7bf85
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-1964
  .elementor-element.elementor-element-da7bf85
  .elementor-nav-menu--main
  .elementor-item:focus,
.elementor-1964
  .elementor-element.elementor-element-da7bf85
  .elementor-nav-menu--main
  .elementor-item:hover {
  color: #fff;
  fill: #ffffff;
}
.elementor-1964
  .elementor-element.elementor-element-da7bf85
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:after,
.elementor-1964
  .elementor-element.elementor-element-da7bf85
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:before {
  background-color: #fff;
}
.elementor-1964
  .elementor-element.elementor-element-da7bf85
  .e--pointer-framed
  .elementor-item:after,
.elementor-1964
  .elementor-element.elementor-element-da7bf85
  .e--pointer-framed
  .elementor-item:before {
  border-color: #fff;
}
.elementor-1964 .elementor-element.elementor-element-da7bf85 {
  z-index: 199;
}
.elementor-bc-flex-widget
  .elementor-1964
  .elementor-element.elementor-element-2e048cd.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1964
  .elementor-element.elementor-element-2e048cd.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1964 .elementor-element.elementor-element-2e048cd {
  z-index: 199;
}
.elementor-1964 .elementor-element.elementor-element-8d8ec4f .elementor-button {
  font-family: Poppins, Sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #2e3438;
  border-radius: 15px 15px 15px 15px;
}
.elementor-1964
  .elementor-element.elementor-element-8d8ec4f
  .elementor-button:focus,
.elementor-1964
  .elementor-element.elementor-element-8d8ec4f
  .elementor-button:hover {
  background-color: var(--e-global-color-cafc30f);
}
.elementor-1964
  .elementor-element.elementor-element-8d8ec4f
  > .elementor-widget-container {
  padding: 10px 0 0 0;
}
.elementor-1964 .elementor-element.elementor-element-8d8ec4f {
  z-index: 1000;
}
.elementor-1964
  .elementor-element.elementor-element-aaa8819
  > .elementor-container {
  max-width: 1300px;
  min-height: 80px;
}
.elementor-1964 .elementor-element.elementor-element-aaa8819 {
  margin-top: -93px;
  margin-bottom: 0;
  z-index: 199;
}
.elementor-1964 .elementor-element.elementor-element-647657e {
  padding: 0;
  z-index: 1000;
}
.elementor-bc-flex-widget
  .elementor-1964
  .elementor-element.elementor-element-2ea386e.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1964
  .elementor-element.elementor-element-2ea386e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1964 .elementor-element.elementor-element-3d943ee {
  text-align: left;
}
.elementor-bc-flex-widget
  .elementor-1964
  .elementor-element.elementor-element-5a1b309.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1964
  .elementor-element.elementor-element-5a1b309.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1964 .elementor-element.elementor-element-5a1b309 {
  z-index: 199;
}
.elementor-1964
  .elementor-element.elementor-element-c5a97b4
  .elementor-menu-toggle {
  margin: 0 auto;
}
.elementor-1964
  .elementor-element.elementor-element-c5a97b4
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-1964
  .elementor-element.elementor-element-c5a97b4
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-1964
  .elementor-element.elementor-element-c5a97b4
  .elementor-nav-menu--main
  .elementor-item:focus,
.elementor-1964
  .elementor-element.elementor-element-c5a97b4
  .elementor-nav-menu--main
  .elementor-item:hover {
  color: #fff;
  fill: #ffffff;
}
.elementor-1964
  .elementor-element.elementor-element-c5a97b4
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:after,
.elementor-1964
  .elementor-element.elementor-element-c5a97b4
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:before {
  background-color: #fff;
}
.elementor-1964
  .elementor-element.elementor-element-c5a97b4
  .e--pointer-framed
  .elementor-item:after,
.elementor-1964
  .elementor-element.elementor-element-c5a97b4
  .e--pointer-framed
  .elementor-item:before {
  border-color: #fff;
}
.elementor-1964 .elementor-element.elementor-element-c5a97b4 {
  z-index: 199;
}
.elementor-1964
  .elementor-element.elementor-element-d379c24
  > .elementor-container {
  max-width: 1300px;
  min-height: 80px;
}
.elementor-1964
  .elementor-element.elementor-element-d379c24:not(.elementor-motion-effects-element-type-background),
.elementor-1964
  .elementor-element.elementor-element-d379c24
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0a0a0a;
}
.elementor-1964 .elementor-element.elementor-element-d379c24 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1000;
}
.elementor-1964
  .elementor-element.elementor-element-d379c24
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1964
  .elementor-element.elementor-element-3afad09
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1964 .elementor-element.elementor-element-3afad09 {
  z-index: 1000;
}
.elementor-bc-flex-widget
  .elementor-1964
  .elementor-element.elementor-element-f4745ad.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1964
  .elementor-element.elementor-element-f4745ad.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1964 .elementor-element.elementor-element-4ded870 {
  text-align: left;
}
.elementor-bc-flex-widget
  .elementor-1964
  .elementor-element.elementor-element-2ecd17a.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1964
  .elementor-element.elementor-element-2ecd17a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1964 .elementor-element.elementor-element-d8d1ec0 .elementor-button {
  font-family: Poppins, Sans-serif;
  font-weight: 500;
  background-color: #2e3438;
  border-radius: 15px 15px 15px 15px;
}
.elementor-1964
  .elementor-element.elementor-element-d8d1ec0
  .elementor-button:focus,
.elementor-1964
  .elementor-element.elementor-element-d8d1ec0
  .elementor-button:hover {
  background-color: var(--e-global-color-cafc30f);
}
.elementor-1964
  .elementor-element.elementor-element-d8d1ec0
  > .elementor-widget-container {
  padding: 10px 0 0 0;
}
.elementor-1964 .elementor-element.elementor-element-d8d1ec0 {
  z-index: 1000;
}
.elementor-bc-flex-widget
  .elementor-1964
  .elementor-element.elementor-element-db044ac.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1964
  .elementor-element.elementor-element-db044ac.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1964 .elementor-element.elementor-element-db044ac {
  z-index: 199;
}
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-menu-toggle {
  margin: 0 auto;
  background-color: #02010100;
}
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-nav-menu--main
  .elementor-item:focus,
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-nav-menu--main
  .elementor-item:hover {
  color: #fff;
  fill: #ffffff;
}
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:after,
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:before {
  background-color: #fff;
}
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .e--pointer-framed
  .elementor-item:after,
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .e--pointer-framed
  .elementor-item:before {
  border-color: #fff;
}
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-menu-toggle,
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-nav-menu--dropdown
  a {
  color: #fff;
}
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-nav-menu--dropdown {
  background-color: #121212;
}
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-nav-menu--dropdown
  a:hover {
  background-color: var(--e-global-color-cafc30f);
}
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-nav-menu--dropdown
  a.elementor-item-active {
  background-color: var(--e-global-color-cafc30f);
}
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: Poppins, Sans-serif;
  font-weight: 500;
}
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  div.elementor-menu-toggle {
  color: #fff;
}
.elementor-1964
  .elementor-element.elementor-element-b8980e5
  div.elementor-menu-toggle
  svg {
  fill: #ffffff;
}
.elementor-1964 .elementor-element.elementor-element-b8980e5 {
  z-index: 199;
}
.elementor-1964
  .elementor-element.elementor-element-d6aa566
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1964 .elementor-element.elementor-element-d6aa566 .elementor-icon i,
.elementor-1964
  .elementor-element.elementor-element-d6aa566
  .elementor-icon
  svg {
  transform: rotate(0);
}
@media (max-width: 767px) {
  .elementor-bc-flex-widget
    .elementor-1964
    .elementor-element.elementor-element-a4c9573.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-1964
    .elementor-element.elementor-element-a4c9573.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-1964 .elementor-element.elementor-element-f4745ad {
    width: 35%;
  }
  .elementor-1964 .elementor-element.elementor-element-2ecd17a {
    width: 50%;
  }
  .elementor-bc-flex-widget
    .elementor-1964
    .elementor-element.elementor-element-2ecd17a.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-1964
    .elementor-element.elementor-element-2ecd17a.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-1964
    .elementor-element.elementor-element-d8d1ec0
    .elementor-button {
    font-size: 12px;
  }
  .elementor-1964
    .elementor-element.elementor-element-d8d1ec0
    > .elementor-widget-container {
    padding: 0;
  }
  .elementor-1964 .elementor-element.elementor-element-db044ac {
    width: 15%;
  }
  .elementor-bc-flex-widget
    .elementor-1964
    .elementor-element.elementor-element-db044ac.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-1964
    .elementor-element.elementor-element-db044ac.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-1964
    .elementor-element.elementor-element-db044ac.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-1964
    .elementor-element.elementor-element-db044ac
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-1964
    .elementor-element.elementor-element-db044ac
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1964
    .elementor-element.elementor-element-b8980e5
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-1964
    .elementor-element.elementor-element-b8980e5
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: 18px;
  }
  .elementor-1964
    .elementor-element.elementor-element-b8980e5
    .elementor-nav-menu--dropdown
    a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .elementor-1964 .elementor-element.elementor-element-d6aa566 .elementor-icon {
    font-size: 20px;
  }
  .elementor-1964
    .elementor-element.elementor-element-d6aa566
    > .elementor-widget-container {
    margin: 10px 0 0 0;
  }
}
@media (min-width: 768px) {
  .elementor-1964 .elementor-element.elementor-element-a204c79 {
    width: 19.319%;
  }
  .elementor-1964 .elementor-element.elementor-element-9df188a {
    width: 62.169%;
  }
  .elementor-1964 .elementor-element.elementor-element-2e048cd {
    width: 18.176%;
  }
}
