/**handles:elementor-post-4639**/
.elementor-4639
  .elementor-element.elementor-element-c1d369d
  > .elementor-container {
  min-height: 80px;
}
.elementor-4639
  .elementor-element.elementor-element-c1d369d:not(.elementor-motion-effects-element-type-background),
.elementor-4639
  .elementor-element.elementor-element-c1d369d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0a0a0a;
}
.elementor-4639 .elementor-element.elementor-element-c1d369d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
}
.elementor-4639
  .elementor-element.elementor-element-c1d369d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-4639
  .elementor-element.elementor-element-433817e.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-4639
  .elementor-element.elementor-element-433817e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-4639
  .elementor-element.elementor-element-433817e:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-4639
  .elementor-element.elementor-element-433817e
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0a0a0a;
}
.elementor-4639
  .elementor-element.elementor-element-433817e
  > .elementor-element-populated {
  border-style: solid;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-4639
  .elementor-element.elementor-element-433817e
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-4639
  .elementor-element.elementor-element-03a4e08.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-4639
  .elementor-element.elementor-element-03a4e08.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-4639
  .elementor-element.elementor-element-03a4e08:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-4639
  .elementor-element.elementor-element-03a4e08
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0a0a0a;
}
.elementor-4639
  .elementor-element.elementor-element-03a4e08
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-4639
  .elementor-element.elementor-element-03a4e08
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4639
  .elementor-element.elementor-element-71a96cf
  .elementor-nav-menu
  .elementor-item {
  font-family: Poppins, Sans-serif;
  font-weight: 600;
}
.elementor-4639
  .elementor-element.elementor-element-71a96cf
  .elementor-nav-menu--main
  .elementor-item {
  color: #8e8e8e;
  fill: #8e8e8e;
}
.elementor-4639
  .elementor-element.elementor-element-71a96cf
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-4639
  .elementor-element.elementor-element-71a96cf
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-4639
  .elementor-element.elementor-element-71a96cf
  .elementor-nav-menu--main
  .elementor-item:focus,
.elementor-4639
  .elementor-element.elementor-element-71a96cf
  .elementor-nav-menu--main
  .elementor-item:hover {
  color: var(--e-global-color-56e6d33);
  fill: var(--e-global-color-56e6d33);
}
.elementor-4639
  .elementor-element.elementor-element-71a96cf
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: var(--e-global-color-56e6d33);
}
.elementor-4639 .elementor-element.elementor-element-f30af2f .elementor-button {
  background-color: var(--e-global-color-cafc30f);
  border-radius: 15px 15px 15px 15px;
}
.elementor-4639
  .elementor-element.elementor-element-f30af2f
  .elementor-button:focus,
.elementor-4639
  .elementor-element.elementor-element-f30af2f
  .elementor-button:hover {
  background-color: var(--e-global-color-56e6d33);
}
.elementor-4639
  .elementor-element.elementor-element-b7c4a8d
  > .elementor-container {
  min-height: 80px;
}
.elementor-4639
  .elementor-element.elementor-element-b7c4a8d:not(.elementor-motion-effects-element-type-background),
.elementor-4639
  .elementor-element.elementor-element-b7c4a8d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #22222200;
}
.elementor-4639 .elementor-element.elementor-element-b7c4a8d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
}
.elementor-4639
  .elementor-element.elementor-element-b7c4a8d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-4639
  .elementor-element.elementor-element-98008b1.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-4639
  .elementor-element.elementor-element-98008b1.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-4639
  .elementor-element.elementor-element-21d213f
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-4639 .elementor-element.elementor-element-21d213f .elementor-icon i,
.elementor-4639
  .elementor-element.elementor-element-21d213f
  .elementor-icon
  svg {
  transform: rotate(0);
}
.elementor-4639
  .elementor-element.elementor-element-22bd8e9
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-4639 .elementor-element.elementor-element-22bd8e9 .elementor-icon i,
.elementor-4639
  .elementor-element.elementor-element-22bd8e9
  .elementor-icon
  svg {
  transform: rotate(0);
}
.elementor-4639
  .elementor-element.elementor-element-e2b404c
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-4639 .elementor-element.elementor-element-e2b404c .elementor-icon i,
.elementor-4639
  .elementor-element.elementor-element-e2b404c
  .elementor-icon
  svg {
  transform: rotate(0);
}
.elementor-4639
  .elementor-element.elementor-element-bd9482c
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-4639 .elementor-element.elementor-element-bd9482c .elementor-icon i,
.elementor-4639
  .elementor-element.elementor-element-bd9482c
  .elementor-icon
  svg {
  transform: rotate(0);
}
#elementor-popup-modal-4639 .dialog-message {
  width: 640px;
  height: 100vh;
  align-items: flex-start;
}
#elementor-popup-modal-4639 {
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
}
#elementor-popup-modal-4639 .dialog-close-button {
  display: flex;
}
#elementor-popup-modal-4639 .dialog-widget-content {
  animation-duration: 0.6s;
  background-color: #222;
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}
#elementor-popup-modal-4639 .dialog-close-button i {
  color: #fff;
}
#elementor-popup-modal-4639 .dialog-close-button svg {
  fill: #ffffff;
}
@media (max-width: 767px) {
  .elementor-4639
    .elementor-element.elementor-element-c1d369d
    > .elementor-container {
    min-height: 75vh;
  }
  .elementor-4639
    .elementor-element.elementor-element-9999bd6
    > .elementor-element-populated {
    padding: 0;
  }
  .elementor-4639
    .elementor-element.elementor-element-433817e
    > .elementor-element-populated {
    border-width: 0 0 1px 0;
    padding: 20px 20px 20px 30px;
  }
  .elementor-4639 .elementor-element.elementor-element-8f212d0 {
    text-align: left;
  }
  .elementor-4639 .elementor-element.elementor-element-8f212d0 img {
    width: 75%;
  }
  .elementor-4639
    .elementor-element.elementor-element-8f212d0
    > .elementor-widget-container {
    padding: 0;
  }
  .elementor-4639
    .elementor-element.elementor-element-03a4e08
    > .elementor-element-populated {
    padding: 30px 30px 30px 30px;
  }
  .elementor-4639
    .elementor-element.elementor-element-71a96cf
    .elementor-nav-menu
    .elementor-item {
    font-size: 20px;
  }
  .elementor-4639
    .elementor-element.elementor-element-71a96cf
    .elementor-nav-menu--main
    .elementor-item {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .elementor-4639
    .elementor-element.elementor-element-b7c4a8d
    > .elementor-container {
    min-height: 15vh;
  }
  .elementor-4639
    .elementor-element.elementor-element-8618b2c
    > .elementor-element-populated {
    padding: 0;
  }
  .elementor-bc-flex-widget
    .elementor-4639
    .elementor-element.elementor-element-98008b1.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-4639
    .elementor-element.elementor-element-98008b1.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-4639
    .elementor-element.elementor-element-98008b1.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-4639
    .elementor-element.elementor-element-98008b1
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-4639
    .elementor-element.elementor-element-98008b1
    > .elementor-element-populated {
    padding: 10px 30px 5px 30px;
  }
  .elementor-4639 .elementor-element.elementor-element-21d213f .elementor-icon {
    font-size: 20px;
  }
  .elementor-4639
    .elementor-element.elementor-element-21d213f
    > .elementor-widget-container {
    padding: 10px 20px 10px 20px;
  }
  .elementor-4639 .elementor-element.elementor-element-21d213f {
    width: auto;
    max-width: auto;
  }
  .elementor-4639 .elementor-element.elementor-element-22bd8e9 .elementor-icon {
    font-size: 20px;
  }
  .elementor-4639
    .elementor-element.elementor-element-22bd8e9
    > .elementor-widget-container {
    padding: 10px 20px 10px 20px;
  }
  .elementor-4639 .elementor-element.elementor-element-22bd8e9 {
    width: auto;
    max-width: auto;
  }
  .elementor-4639 .elementor-element.elementor-element-e2b404c .elementor-icon {
    font-size: 20px;
  }
  .elementor-4639
    .elementor-element.elementor-element-e2b404c
    > .elementor-widget-container {
    padding: 10px 20px 10px 20px;
  }
  .elementor-4639 .elementor-element.elementor-element-e2b404c {
    width: auto;
    max-width: auto;
  }
  .elementor-4639 .elementor-element.elementor-element-bd9482c .elementor-icon {
    font-size: 20px;
  }
  .elementor-4639
    .elementor-element.elementor-element-bd9482c
    > .elementor-widget-container {
    padding: 10px 20px 10px 20px;
  }
  .elementor-4639 .elementor-element.elementor-element-bd9482c {
    width: auto;
    max-width: auto;
  }
  .elementor-4639 .elementor-element.elementor-element-8c95cc5 {
    text-align: center;
  }
  #elementor-popup-modal-4639 .dialog-message {
    width: 100vw;
  }
  #elementor-popup-modal-4639 {
    justify-content: flex-start;
    align-items: flex-start;
  }
  #elementor-popup-modal-4639 .dialog-close-button {
    font-size: 25px;
  }
}
