/**handles:elementor-post-113**/
.elementor-113
  .elementor-element.elementor-element-67bb3c8f:not(.elementor-motion-effects-element-type-background),
.elementor-113
  .elementor-element.elementor-element-67bb3c8f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #111;
}
.elementor-113 .elementor-element.elementor-element-67bb3c8f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 5% 0 4% 0;
  z-index: 2;
}
.elementor-113
  .elementor-element.elementor-element-67bb3c8f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-113
  .elementor-element.elementor-element-5a7a4589
  > .elementor-element-populated {
  padding: 0;
}
.elementor-113
  .elementor-element.elementor-element-4eab6193
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 58px;
}
.elementor-113 .elementor-element.elementor-element-184d3fc9 {
  text-align: left;
}
.elementor-113 .elementor-element.elementor-element-184d3fc9 img {
  width: 100%;
}
.elementor-113 .elementor-element.elementor-element-6f168d02 {
  color: #fff;
  font-family: Poppins, Sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 23.5px;
}
.elementor-113
  .elementor-element.elementor-element-4e4c5d72.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-113
  .elementor-element.elementor-element-4e4c5d72
  > .elementor-element-populated {
  padding: 0 0 0 90px;
}
.elementor-113
  .elementor-element.elementor-element-14bc070b
  .elementor-nav-menu
  .elementor-item {
  font-family: Poppins, Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-113
  .elementor-element.elementor-element-14bc070b
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-113
  .elementor-element.elementor-element-14bc070b
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-113
  .elementor-element.elementor-element-14bc070b
  .elementor-nav-menu--main
  .elementor-item:focus,
.elementor-113
  .elementor-element.elementor-element-14bc070b
  .elementor-nav-menu--main
  .elementor-item:hover {
  color: #fff;
  fill: #ffffff;
}
.elementor-113
  .elementor-element.elementor-element-14bc070b
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: #fff;
}
.elementor-113
  .elementor-element.elementor-element-14bc070b
  .elementor-nav-menu--main
  .elementor-item {
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-113
  .elementor-element.elementor-element-55a247d
  .elementor-nav-menu
  .elementor-item {
  font-family: Poppins, Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-113
  .elementor-element.elementor-element-55a247d
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-113
  .elementor-element.elementor-element-55a247d
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-113
  .elementor-element.elementor-element-55a247d
  .elementor-nav-menu--main
  .elementor-item:focus,
.elementor-113
  .elementor-element.elementor-element-55a247d
  .elementor-nav-menu--main
  .elementor-item:hover {
  color: #fff;
  fill: #ffffff;
}
.elementor-113
  .elementor-element.elementor-element-55a247d
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: #fff;
}
.elementor-113
  .elementor-element.elementor-element-55a247d
  .elementor-nav-menu--main
  .elementor-item {
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-113
  .elementor-element.elementor-element-3fe299d4
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 25px;
}
.elementor-113
  .elementor-element.elementor-element-3fe299d4
  > .elementor-element-populated {
  padding: 15px 60px 0 0;
}
.elementor-113
  .elementor-element.elementor-element-70bb4905
  .elementor-heading-title {
  font-family: Poppins, Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-113
  .elementor-element.elementor-element-e499758
  .elementor-heading-title {
  font-family: Poppins, Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-113
  .elementor-element.elementor-element-161c90ac
  .elementor-heading-title {
  font-family: Poppins, Sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 23.5px;
}
.elementor-113
  .elementor-element.elementor-element-145098a2
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}
.elementor-113
  .elementor-element.elementor-element-145098a2
  > .elementor-element-populated {
  padding: 0;
}
.elementor-113 .elementor-element.elementor-element-46d307c6 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 30px;
  --grid-column-gap: 0px;
}
.elementor-113
  .elementor-element.elementor-element-46d307c6
  .elementor-widget-container {
  text-align: right;
}
.elementor-113
  .elementor-element.elementor-element-46d307c6
  .elementor-social-icon {
  background-color: #02010100;
  --icon-padding: 0.5em;
}
.elementor-113
  .elementor-element.elementor-element-46d307c6
  .elementor-social-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-113
  .elementor-element.elementor-element-46d307c6
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-113
  .elementor-element.elementor-element-46d307c6
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-2e04ad6);
}
.elementor-113
  .elementor-element.elementor-element-46d307c6
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-2e04ad6);
}
.elementor-113
  .elementor-element.elementor-element-46d307c6
  > .elementor-widget-container {
  margin: 0 0 10px 0;
  padding: 0;
}
.elementor-113 .elementor-element.elementor-element-51f3afd1 {
  text-align: right;
}
.elementor-113 .elementor-element.elementor-element-51f3afd1 img {
  width: 85%;
}
.elementor-113
  .elementor-element.elementor-element-51f3afd1
  > .elementor-widget-container {
  margin: 0 0 0 10px;
}
.elementor-113 .elementor-element.elementor-element-59f7f18e {
  text-align: right;
}
.elementor-113 .elementor-element.elementor-element-59f7f18e img {
  width: 86%;
}
.elementor-113
  .elementor-element.elementor-element-59f7f18e
  > .elementor-widget-container {
  margin: 10px 0 0 10px;
}
.elementor-113
  .elementor-element.elementor-element-5242d00
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 58px;
}
.elementor-113
  .elementor-element.elementor-element-4c2fa69
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}
.elementor-113
  .elementor-element.elementor-element-4c2fa69
  > .elementor-element-populated {
  padding: 0;
}
.elementor-113 .elementor-element.elementor-element-23f454cc {
  margin-top: 60px;
  margin-bottom: 0;
}
.elementor-113 .elementor-element.elementor-element-ff96311 {
  color: #fff;
  font-family: Poppins, Sans-serif;
  font-weight: 400;
  text-transform: lowercase;
}
.elementor-113
  .elementor-element.elementor-element-fa50ac5
  .elementor-heading-title {
  font-family: Poppins, Sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.elementor-113
  .elementor-element.elementor-element-fa50ac5
  > .elementor-widget-container {
  padding: 3px 0 0 0;
}
.elementor-113 .elementor-element.elementor-element-fa50ac5 {
  width: auto;
  max-width: auto;
}
.elementor-113
  .elementor-element.elementor-element-f5d318e
  .elementor-heading-title {
  font-family: Poppins, Sans-serif;
  font-size: 17px;
  font-weight: 300;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.elementor-113
  .elementor-element.elementor-element-f5d318e
  > .elementor-widget-container {
  padding: 3px 0 0 16px;
}
.elementor-113 .elementor-element.elementor-element-f5d318e {
  width: auto;
  max-width: auto;
}
.elementor-113
  .elementor-element.elementor-element-2761788
  .elementor-heading-title {
  font-family: Poppins, Sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.elementor-113
  .elementor-element.elementor-element-2761788
  > .elementor-widget-container {
  padding: 3px 0 0 16px;
}
.elementor-113 .elementor-element.elementor-element-2761788 {
  width: auto;
  max-width: auto;
}
.elementor-113
  .elementor-element.elementor-element-6b8de87:not(.elementor-motion-effects-element-type-background),
.elementor-113
  .elementor-element.elementor-element-6b8de87
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0a0a0a;
}
.elementor-113 .elementor-element.elementor-element-6b8de87 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 2% 0 2% 0;
  z-index: 2;
}
.elementor-113
  .elementor-element.elementor-element-6b8de87
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-113
  .elementor-element.elementor-element-541f9e2
  .elementor-spacer-inner {
  --spacer-size: 10px;
}
.elementor-113 .elementor-element.elementor-element-c0f81ec {
  color: #686868;
}
.elementor-113
  .elementor-element.elementor-element-c296a35:not(.elementor-motion-effects-element-type-background),
.elementor-113
  .elementor-element.elementor-element-c296a35
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #252525;
}
.elementor-113 .elementor-element.elementor-element-c296a35 {
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.25);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-113
  .elementor-element.elementor-element-c296a35
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-113 .elementor-element.elementor-element-e900d9b .elementor-button {
  font-family: Poppins, Sans-serif;
  font-weight: 500;
  background-color: #326eb1;
  border-radius: 15px 15px 15px 15px;
}
.elementor-113
  .elementor-element.elementor-element-e900d9b
  .elementor-button:focus,
.elementor-113
  .elementor-element.elementor-element-e900d9b
  .elementor-button:hover {
  background-color: #326eb1;
}
.elementor-113
  .elementor-element.elementor-element-e900d9b
  > .elementor-widget-container {
  padding: 10px 0 0 0;
}
.elementor-113 .elementor-element.elementor-element-e900d9b {
  z-index: 1000;
}
@media (min-width: 768px) {
  .elementor-113 .elementor-element.elementor-element-4eab6193 {
    width: 26.786%;
  }
  .elementor-113 .elementor-element.elementor-element-4e4c5d72 {
    width: 25.022%;
  }
  .elementor-113 .elementor-element.elementor-element-3fe299d4 {
    width: 30%;
  }
  .elementor-113 .elementor-element.elementor-element-145098a2 {
    width: 18.032%;
  }
  .elementor-113 .elementor-element.elementor-element-58cfe60d {
    width: 13.598%;
  }
  .elementor-113 .elementor-element.elementor-element-3e734fbd {
    width: 53.435%;
  }
  .elementor-113 .elementor-element.elementor-element-2b8dfd6 {
    width: 32.631%;
  }
}
@media (max-width: 767px) {
  .elementor-113 .elementor-element.elementor-element-79f9911d {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-113
    .elementor-element.elementor-element-4eab6193
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 30px;
  }
  .elementor-113
    .elementor-element.elementor-element-4eab6193
    > .elementor-element-populated {
    padding: 30px 20px 30px 20px;
  }
  .elementor-113 .elementor-element.elementor-element-184d3fc9 img {
    width: 60%;
  }
  .elementor-113 .elementor-element.elementor-element-6f168d02 {
    font-size: 16px;
  }
  .elementor-113
    .elementor-element.elementor-element-4e4c5d72
    > .elementor-element-populated {
    padding: 0 20px 30px 20px;
  }
  .elementor-113
    .elementor-element.elementor-element-55a247d
    .elementor-nav-menu--main
    .elementor-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .elementor-113
    .elementor-element.elementor-element-3fe299d4
    > .elementor-element-populated {
    padding: 0 20px 30px 20px;
  }
  .elementor-113
    .elementor-element.elementor-element-70bb4905
    .elementor-heading-title {
    font-size: 16px;
  }
  .elementor-113
    .elementor-element.elementor-element-e499758
    .elementor-heading-title {
    font-size: 16px;
  }
  .elementor-113
    .elementor-element.elementor-element-161c90ac
    .elementor-heading-title {
    font-size: 16px;
  }
  .elementor-113
    .elementor-element.elementor-element-145098a2
    > .elementor-element-populated {
    padding: 0 20px 0 20px;
  }
  .elementor-113
    .elementor-element.elementor-element-46d307c6
    .elementor-widget-container {
    text-align: left;
  }
  .elementor-113 .elementor-element.elementor-element-51f3afd1 {
    text-align: left;
    width: auto;
    max-width: auto;
  }
  .elementor-113 .elementor-element.elementor-element-51f3afd1 img {
    width: 100%;
  }
  .elementor-113 .elementor-element.elementor-element-59f7f18e {
    text-align: center;
    width: auto;
    max-width: auto;
  }
  .elementor-113 .elementor-element.elementor-element-59f7f18e img {
    width: 100%;
  }
  .elementor-113 .elementor-element.elementor-element-4ca7823 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .elementor-113 .elementor-element.elementor-element-5242d00 {
    width: 50%;
  }
  .elementor-113
    .elementor-element.elementor-element-5242d00
    > .elementor-element-populated {
    padding: 0;
  }
  .elementor-113 .elementor-element.elementor-element-4c2fa69 {
    width: 50%;
  }
  .elementor-113 .elementor-element.elementor-element-23f454cc {
    margin-top: 40px;
    margin-bottom: 0;
  }
  .elementor-113
    .elementor-element.elementor-element-58cfe60d
    > .elementor-element-populated {
    padding: 0 20px 0 20px;
  }
  .elementor-113 .elementor-element.elementor-element-ff96311 {
    text-align: left;
  }
  .elementor-bc-flex-widget
    .elementor-113
    .elementor-element.elementor-element-3e734fbd.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-113
    .elementor-element.elementor-element-3e734fbd.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-113
    .elementor-element.elementor-element-3e734fbd.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-113
    .elementor-element.elementor-element-3e734fbd
    > .elementor-element-populated {
    padding: 0 20px 0 20px;
  }
  .elementor-113
    .elementor-element.elementor-element-2fbaf97
    > .elementor-element-populated {
    padding: 0 20px 20px 20px;
  }
  .elementor-113 .elementor-element.elementor-element-c296a35 {
    padding: 10px 0 10px 0;
  }
  .elementor-113
    .elementor-element.elementor-element-1a7eb2d
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
  }
  .elementor-113
    .elementor-element.elementor-element-1a7eb2d
    > .elementor-element-populated {
    padding: 10px 0 10px 0;
  }
}
.elementor-113 .elementor-element.elementor-element-7475191 {
  text-align: center;
}
.elementor-113 .elementor-element.elementor-element-3f42b07 {
  text-align: left;
}
