/**handles:elementor-post-1562**/
.elementor-1562 .elementor-element.elementor-element-61bead7 {
  padding: 0;
}
.elementor-1562
  .elementor-element.elementor-element-659a591
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-1562 .elementor-element.elementor-element-df523ad img {
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}
.elementor-1562
  .elementor-element.elementor-element-5841d97
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}
.elementor-1562
  .elementor-element.elementor-element-5841d97
  > .elementor-element-populated {
  padding: 5px 0 0 20px;
}
.elementor-1562
  .elementor-element.elementor-element-8514dba
  .elementor-heading-title {
  font-family: Poppins, Sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.elementor-1562
  .elementor-element.elementor-element-c50ca7a
  .elementor-icon-list-icon {
  width: 14px;
}
.elementor-1562
  .elementor-element.elementor-element-c50ca7a
  .elementor-icon-list-icon
  i {
  font-size: 14px;
}
.elementor-1562
  .elementor-element.elementor-element-c50ca7a
  .elementor-icon-list-icon
  svg {
  --e-icon-list-icon-size: 14px;
}
.elementor-1562
  .elementor-element.elementor-element-c50ca7a
  .elementor-icon-list-text,
.elementor-1562
  .elementor-element.elementor-element-c50ca7a
  .elementor-icon-list-text
  a {
  color: #7d7d7d;
}
.elementor-1562
  .elementor-element.elementor-element-c50ca7a
  .elementor-icon-list-item {
  font-family: Poppins, Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .elementor-1562 .elementor-element.elementor-element-659a591 {
    width: 30%;
  }
  .elementor-1562 .elementor-element.elementor-element-5841d97 {
    width: 70%;
  }
  .elementor-1562
    .elementor-element.elementor-element-8514dba
    .elementor-heading-title {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .elementor-1562 .elementor-element.elementor-element-659a591 {
    width: 30%;
  }
  .elementor-1562 .elementor-element.elementor-element-5841d97 {
    width: 70%;
  }
}
